body {
	font-family: myfont;
	src: url('YanoneKaffeesatz-Regular.otf');
	background-color: #0b5f7b;
	color: #ffffff;
}

@font-face {
    font-family: myfont;
	src: url('YanoneKaffeesatz-Regular.otf');
}

div {
    font-family: myfont;
}

div a:hover {
	color: white;
}

div table:hover {
	color: 0b5f7b;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: 0b5f7b;
}

/* selected link */
a:active {
    color: white;
}

#now_playing_div {
	position: fixed;
    bottom: 0;
    width: 100%;
	background-color: #FFFFFF; 
	color: #0b5f7b;
    
    height: 175px;
    
    border-color:#0b5f7b; 
    -moz-box-shadow:    inset 0 0 0 #0b5f7b;
	-webkit-box-shadow: inset 0 0 0px #0b5f7b;
	box-shadow:         inset 0 0 0px #0b5f7b;
}




#euphony-header{
            background-color: #FFFFFF; 
			color: #0b5f7b;
           
			padding-top: 1%;
            height: 75px;
			border-color:#0b5f7b; 
            -moz-box-shadow:    inset 0 0 10px #0b5f7b;
			-webkit-box-shadow: inset 0 0 10px #0b5f7b;
			box-shadow:         inset 0 0 10px #0b5f7b;
}


/*Stop button*/
#songStop{

}
/*Play/Pause button*/
#songPlayPause{

}
/*Song location slider*/
#songSlider{
    width: 100%;
    height: 12px;
    background-color: white;

	
}
/*Track progress bar*/
#trackProgress{
    width: 0px;
    height: 12px;
    background-color: #0b5f7b;
	
}

#songTime {
	font-size: 12px;
}

#playButton{
    height:25px; 
    width: 25px;
    border: none;
   background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
	
}

#stopButton{
    height:25px; 
    width: 25px;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
	
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncateScript {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFFFFF;
}

.play{background: url('../images/play.png') ;}
.pause{background: url('../images/pause.png') ;}
.stop{background: url('../images/stop.png') ;}

