body {
	font-family: myfont;
	src: url('YanoneKaffeesatz-Regular.otf');
	background-color: #0b5f7b;
	color: #ffffff;
}

@font-face {
    font-family: myfont;
	src: url('YanoneKaffeesatz-Regular.otf');
}

div {
    font-family: myfont;
}

div a:hover {
	color: white;
}

div table:hover {
	color: 0b5f7b;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: 0b5f7b;
}

/* selected link */
a:active {
    color: white;
}

#now_playing_div {
            background-color: #FFFFFF; 
			color: #0b5f7b;
            position: absolute; 
            left:0%; 
            bottom:0px; 
            width: 100%; 
			padding-left: 5%;
			padding-top: 5%;
            height: 375px;
            z-index:5; 
            border-color:#0b5f7b; 
            -moz-box-shadow:    inset 0 0 10px #0b5f7b;
			-webkit-box-shadow: inset 0 0 10px #0b5f7b;
			box-shadow:         inset 0 0 10px #0b5f7b;
}

#now_playing_div  {
    color: #0b5f7b;
}


#euphony-header{
            background-color: #FFFFFF; 
			color: #0b5f7b;
           
			padding-top: 1%;
            height: 75px;
			border-color:#0b5f7b; 
            -moz-box-shadow:    inset 0 0 10px #0b5f7b;
			-webkit-box-shadow: inset 0 0 10px #0b5f7b;
			box-shadow:         inset 0 0 10px #0b5f7b;
}


/*Stop button*/
#songStop{

}
/*Play/Pause button*/
#songPlayPause{

}
/*Song location slider*/
#songSlider{
    width: 97%;
    height: 10px;
    background-color: white;
	
}
/*Track progress bar*/
#trackProgress{
    width: 0px;
    height: 10px;
    background-color: #0b5f7b;
	
}

#songTime {
	font-size: 12px;
}

#playButton{
    height:25px; 
    width: 25px;
    border: none;
   background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
	
}

#stopButton{
    height:25px; 
    width: 25px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
	
}

.play{background: url('../images/play.png') ;}
.pause{background: url('../images/pause.png') ;}
.stop{background: url('../images/stop.png') ;}